[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
pyjwt = "*"
whitenoise = "*"
django-heroku = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-decouple="*"
psycopg2 = "*"
[requires]
python_version = "3.10.6"

